.header {
    background-color: #3ad262;
    color: white;
    padding: 10px;
}

.message-container {
    margin-top: 20px;
}

#chat-log {
    margin-top: 15px;
}

.bundle {
    padding: 5px;
    margin-bottom: 5px;
}

.bundle .icon {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
  }

.bundle .message {
    position: relative;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.bundle .self-message{
    background-color: #3ad262;
}

.bundle .server-message{
    background-color: #77787B;
}